In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == "06").all()
temps[:5]

[('2010-06-01', 78.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0)]

In [5]:
#  3. Convert the June temperatures to a list.
june_temps = list(np.ravel(temps))
june_temps[:5]

['2010-06-01', '78.0', '2010-06-02', '76.0', '2010-06-03']

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
import pandas as pd

june_temps_df = pd.DataFrame(temps, columns=["Date", "June Temps"])
june_temps_df.sample(n=5)

           Date  June Temps
814  2010-06-11        77.0
912  2012-06-10        75.0
984  2014-06-25        74.0
488  2010-06-17        75.0
610  2016-06-07        75.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == "12").all()
temps[:5]

[('2010-12-01', 76.0),
 ('2010-12-03', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 64.0)]

In [9]:
# 7. Convert the December temperatures to a list.
dec_temps = list(np.ravel(temps))
dec_temps[:5]

['2010-12-01', '76.0', '2010-12-03', '74.0', '2010-12-04']

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(temps, columns=["Date", "December Temps"])
dec_temps_df.sample(n=5)

            Date  December Temps
1307  2014-12-28            76.0
313   2013-12-11            75.0
27    2011-12-03            73.0
1213  2011-12-24            70.0
1504  2016-12-19            72.0

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [12]:
june_temps = june_temps_df.describe()
dec_temps = dec_temps_df.describe()

jun_vs_dec_temps = june_temps.merge(dec_temps, left_index=True, right_index=True)
jun_vs_dec_temps

        June Temps  December Temps
count  1700.000000     1517.000000
mean     74.944118       71.041529
std       3.257417        3.745920
min      64.000000       56.000000
25%      73.000000       69.000000
50%      75.000000       71.000000
75%      77.000000       74.000000
max      85.000000       83.000000